src/main/mule/update covid.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="update_covidFlow" doc:id="e0819361-0a35-45ea-bfd1-1e2b747e7199" >
		<http:listener doc:name="Listener" doc:id="356f2157-69d8-4624-bdd2-d9bfa3858247" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Logger" doc:id="8cd1397b-82b4-434e-b658-4b5fa8f04ee8" message="#[payload.covidCase.caseID]"/>
		<logger level="INFO" doc:name="Logger" doc:id="aad0e033-ab5b-41e8-ac67-d8fe986c4f01" message="#[payload.covidCase.caseID.@id]"/>
	</flow>
</mule>
