src/main/mule/transformation/jsontoxml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="696e1194-3135-41af-a1e8-9df8f544afde" basePath="covid">
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="jsontoxmlFlow" doc:id="ae018be4-7547-4d26-b39d-e2ab93df616c" >
		<http:listener doc:name="Listener" doc:id="3ba83491-4275-47f3-a1b9-2960ea4b1194" config-ref="HTTP_Listener_config1" path="v1/cases"/>
		<logger level="INFO" doc:name="Logger" doc:id="00ad77b1-fe2d-40fd-bbb9-684bbeaf5da0" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="3bb5098a-db9c-46fb-81f4-98fe87b12608" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	covidCase: {
		caseID: payload.caseID ,
		firstName: payload.firstName,
		lastName: payload.lastName,
		dateOfBirth: payload.dateOfBirth ,
		address: {
			city: payload.address.city
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f6b5fe7a-a85b-4949-aac2-b9dbf119f43f" />
	</flow>
</mule>
