src/main/mule/transformation/xmltojson._highlevel.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="xmltojsonFlowhigh" doc:id="5f26b9f8-51da-4078-b0d4-ec6880a52df5" >
		<http:listener doc:name="Listener" doc:id="1e1b5a25-92f4-40c9-9aae-4c82b9e36119" config-ref="HTTP_Listener_config1" path="v1/cases/xml" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="2bcef9ed-e7db-4aeb-9191-9b3e10ddb760" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="a335fd73-ead3-49a3-94c5-8d1addbdabfc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.covidCase]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f67b0957-b9bd-4704-9d86-eee751210989" message="#[payload]"/>
	</flow>
</mule>
